

<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <div>
                <table style="width:100%;">
                    <tr>
                        <td>
                            <h5 class="card-title">Consumption Entry Form</h5>
                        </td>
                        <td style="float:right;">
                            <a asp-action="Upload"><button class="btn btn-link">Upload Excel</button></a>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- ---------------------------------------- -->
            <form id="frmStockConsumption">

                <table id="tblStockConsummption" class="table datatable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Selection</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Stock</th>
                            <th>Consumption</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">Loading....</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <a class="btn btn-warning" id="btnUpdateAll"><i class="bi bi-pencil-square"></i> Update All</a>
                </div>

            </form>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            registerEvents();
            fetchList();
        });

        var registerEvents = function () {

            $("body").on("click", ".btnUpdate", updateSingleProduct);
            $("body").on("click", "#btnUpdateAll", updateProducts);
            $("body").on("focusout", ".txtStock", optCheckbox);
        }

        var updateSingleProduct = function () {
            let row = $(this).parents("tr");

            const { stock, id } = row.data();

            if (validateProduct(row, true)) {
                let lstConsumption = [];
                lstConsumption.push({ ProductId: id, AvailableQty: stock, ConsumedQty: $(row).find(".txtStock").val() });

                updateStock(lstConsumption);
            }

            return false;
        }

        var updateProducts = function () {
            let selectedRecords = $(".child-selection:checked");

            let lstConsumption = [];
            let isValid = true;

            if (selectedRecords.length > 0) {

                $.each(selectedRecords, (i, v) => {

                    let row = $(v).parents("tr");
                    const { stock, id } = row.data();
                    let $txtConsume = $(row).find(".txtStock");
                    const consumedStock = $txtConsume.val();

                    if (validateProduct(row, true)) {
                        lstConsumption.push({ ProductId: id, AvailableQty: stock, ConsumedQty: consumedStock });
                    }
                    else {
                        isValid = false;
                        return false;
                    }

                });

                if (isValid && lstConsumption.length > 0) {
                    updateStock(lstConsumption);
                }
            }
            else {
                alert("Please Select Records to Update");
            }
        }

        var optCheckbox = function () {

            let row = $(this).parents("tr");
            let isValid = validateProduct(row);

            $(row).find(".child-selection").prop("checked", isValid);

            return false;
        }

        var fetchList = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetStockList")",
                dataType: "json",
                success: function (response) {

                    if (response.isSuccess) {
                        if (response.stocks?.length > 0) {
                            renderStocks(response.stocks);
                        } else {
                            alert("Stockes not present");
                        }
                    } else {
                        alert("Error While Fetching Stocks");
                    }
                }
            });
        };

        var renderStocks = function (stockList) {

            let $body = $("#tblStockConsummption tbody");
            $body.empty();

            $.each(stockList, (i, v) => {

                const { productId, number, quantity, description } = v;

                let $tr = $("<tr>");

                $tr.data("id", productId).data("stock", quantity);

                $tr.append(`<td><input type='checkbox' class="child-selection"/> </td>`)
                    .append(`<td>${number}</td>`)
                    .append(`<td>${description}</td>`)
                    .append(`<td>${quantity}</td>`)
                    .append(`<td><input type='number' step='1' class='form-control txtStock' /></td>`)
                    .append(`<td><a class="btn btn-warning btnUpdate"><i class="bi bi-pencil-square"></i> Update</a></td>`);

                $body.append($tr);

            });
            let dataTable = new DataTable("table");
            dataTable.init();

        }

        var validateProduct = function (row, isBtnClick = false) {

            let isValid = true;
            const { stock, id } = row.data();
            let $txtConsume = $(row).find(".txtStock");
            const consumedStock = $txtConsume.val();

            if (!!consumedStock && consumedStock > 0) {
                if (consumedStock > stock) {
                    alert("Consumtion Limit Exceeded");
                    isValid = false;
                }
            } else {
                if (isBtnClick) alert("Please Enter Valid Amount");
                isValid = false;
            }

            return isValid;
        }

        var updateStock = function (lstConsumption) {
            $.ajax({

                type: "POST",
                url: "@Url.Action("UpdateStock")",
                data: { lstConsumption },
                dataType: "json",
                success: function (response) {
                    if (response.isSuccess) {
                        fetchList();
                    } else {
                        if (response.successCount > 0) {
                            alert(response.msg);
                            fetchList();
                        }
                        alert(response.msg);
                    }
                }
            });
        }

    </script>
}